<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}<!-- title goes here -->{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link
      href="https://bootswatch.com/5/minty/bootstrap.css"
      rel="stylesheet">
  <link
      href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap"
      rel="stylesheet">
  <link href="/static/madlibs.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
</head>
<body>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Pick a story!
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" id="sad-story" href="/?story_code=">Sad</a>
    <a class="dropdown-item" id="excited-story" href="/">Excited</a>
    <a class="dropdown-item" id="silly-story" href="/">Silly</a>
  </div>
</div>

<!-- loop through dynamically create the option values -->

<!-- <select name="" id="">
  <option value="sad">sad</option>
  <option value="excited">excited</option>
  <option value="silly">silly</option>
</select> -->

<div class="container-fluid mb-4">
  <div class="row vh-100">
    <div class="mx-auto my-auto">
      <main class="col w-100">
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>